{% extends 'base.html' %}
{% block content %}

<!-- PAGE CONTENT START -->
<h3>Dashboard</h3>

<div class="row">

<div class="col-md-3">
<div class="card text-center p-3 bg-primary text-white">
<h5>Total Electricians</h5>
<h2>{{ context.electricians_count }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card text-center p-3 bg-success text-white">
<h5>Active Jobs</h5>
<h2>{{ jobs_count }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card text-center p-3 bg-warning text-white">
<h5>Total Tasks</h5>
<h2>{{ tasks_count }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card text-center p-3 bg-warning text-white">
<h5>Pending Tasks</h5>
<h2>{{ pending_count }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card text-center p-3 bg-info text-white">
<h5>Completed Work</h5>
<h2>{{ completed_count }}</h2>
</div>
</div>

</div>
<!-- PAGE CONTENT END -->
{% endblock %}