{% extends 'base.html' %}
{% block content %}

<div class="d-flex align-items-center justify-content-between mb-3">
    <div class="aline-left">
        <h3>Jobs</h3>
    </div>
    <div class="aline-right">
        {% if request.user.userprofile.role != "ELECTRICIAN" %}
        <a href="{% url 'add_job' %}" class="btn btn-primary"> +Add Job</a>
        {% endif %}
    </div>
</div>

<div>
    {% if messages %}
    <div id="alert-box" style="position: fixed; top: 80px;right: 20px; width: 300px; z-index: 9999;">
        {% for message in messages %}
        
        <div class="alert 
            {% if message.tags == 'success' %} alert-success
            {% elif message.tags == 'info' %} alert-primary
            {% elif message.tags == 'error' %} alert-danger
            {% else %} alert-secondary {% endif %}
            d-flex align-items-center justify-content-between shadow mb-2">
            
            <!-- Icon + Text -->
            <div>
                {% if message.tags == 'success' %}
                    <i class="bi bi-check-circle-fill me-2"></i>
                {% elif message.tags == 'info' %}
                    <i class="bi bi-info-circle-fill me-2"></i>
                {% elif message.tags == 'error' %}
                    <i class="bi bi-x-circle-fill me-2"></i>
                {% endif %}

                {{ message }}
            
            </div>

        <!-- Close button -->
        <button type="button" class="btn-close" onclick="this.parentElement.remove()"></button>

        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<br><br>

<form method="GET" action="{% url 'jobs' %}" class="d-flex align-items-center gap-2">
    <div style="flex-grow: 1;">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search jobs" class="form-control" onchange="this.form.submit()">
    </div>

    <a href="{% url 'jobs' %}" class="btn btn-secondary">All</a>
</form>

<div class="table-responsive">
<table class="table table-striped">

<thead>
<tr>
<th>Title</th>
<th>Location</th>
<th>Deadline</th>
<th>Electrician</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for job in jobs %}
<tr>
<td>{{ job.title }}</td>
<td>{{ job.location }}</td>
<td>{{ job.deadline }}</td>
<td>{{ job.electrician.name }}</td>

<td>
<a href="{% url 'edit_job' job.id %}" class="btn btn-sm btn-warning">Edit</a>
<a href="{% url 'delete_job' job.id %}" class="btn btn-sm btn-danger">Delete</a>
</td>
</tr>

{% empty %}
<tr>
<td colspan="5" class="text-center">No jobs found</td>
</tr>
{% endfor %}

</tbody>

</table>
</div>

<script>
setTimeout(function() {
    let alertBox = document.getElementById("alert-box");
    if (alertBox) {
        alertBox.style.transition = "opacity 0.5s ease";
        alertBox.style.opacity = "0";
        setTimeout(() => alertBox.remove(), 500);
    }
}, 5000);
</script>
{% endblock %}
