{% extends 'base.html' %}
{% block content %}

<h3>Jobs</h3>

{% if request.user.userprofile.role != "ELECTRICIAN" %}
<a href="{% url 'add_job' %}" class="btn btn-primary">Add Job</a>
{% endif %}
<br><br>
<!-- <form method="GET">
    <input type="text" name="q" placeholder="Search jobs" class="form-control" onchange="this.form.submit()">
</form> -->
<form method="GET" action="{% url 'jobs' %}" class="d-flex align-items-center gap-2">
    <div style="flex-grow: 1;">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search jobs" class="form-control" onchange="this.form.submit()">
    </div>

    <a href="{% url 'jobs' %}" class="btn btn-secondary">All</a>
</form>

<table class="table table-striped">

<thead>
<tr>
<th>Title</th>
<th>Location</th>
<th>Deadline</th>
<th>Electrician</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for job in jobs %}
<tr>
<td>{{ job.title }}</td>
<td>{{ job.location }}</td>
<td>{{ job.deadline }}</td>
<td>{{ job.electrician.name }}</td>

<td>
<a href="{% url 'edit_job' job.id %}" class="btn btn-sm btn-warning">Edit</a>
<a href="{% url 'delete_job' job.id %}" class="btn btn-sm btn-danger">Delete</a>
</td>
</tr>

{% empty %}
<tr>
<td colspan="5" class="text-center">No jobs found</td>
</tr>
{% endfor %}

</tbody>

</table>

{% endblock %}