{% extends 'base.html' %}
{% block content %}

<h3>Profile</h3>

{% if messages %}
<div id="alert-box" style="position: fixed; top: 80px;right: 20px; width: 300px; z-index: 9999;">
    {% for message in messages %}
    <div class="alert alert-success d-flex align-items-center justify-content-between shadow mb-2">
        
        <div>
            <i class="bi bi-check-circle-fill me-2"></i>
            {{ message }}
        </div>

    <button type="button" class="btn-close" onclick="this.parentElement.remove()"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="card shadow p-4" style="max-width: 500px;">

<form method="POST">
{% csrf_token %}

<div class="mb-3">
<label>Username</label>
<input type="text" name="username" class="form-control" value="{{ user.username }}" readonly>
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control" value="{{ user.email }}" readonly>
</div>

<div class="mb-3">
<label>Phone</label>
<input type="email" name="email" class="form-control" value="{{ request.user.userprofile.phone }}" readonly>
</div>

<div class="mb-3">
<label>Role</label>
<input type="text" class="form-control" 
       value="{{ request.user.userprofile.role }}" readonly>
</div>

<a href="{% url 'update_profile' %}" class="btn btn-primary">Edit</a>

</form>

</div>
<script>
setTimeout(function() {
    let alertBox = document.getElementById("alert-box");
    if (alertBox) {
        alertBox.style.transition = "opacity 0.5s ease";
        alertBox.style.opacity = "0";
        setTimeout(() => alertBox.remove(), 500);
    }
}, 5000);
</script>
{% endblock %}