{% extends 'base.html' %}
{% block content %}

<h3>Profile</h3>

<div class="card shadow p-4" style="max-width: 500px;">

<form method="POST">
{% csrf_token %}

<div class="mb-3">
<label>Username</label>
<input type="text" name="username" class="form-control" value="{{ user.username }}">
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control" value="{{ user.email }}">
</div>

<div class="mb-3">
<label>Phone</label>
<input type="text" name="phone" class="form-control" value="{{ request.user.userprofile.phone }}">
</div>

<div class="mb-3">
<label>Role</label>
<input type="text" class="form-control" 
       value="{{ request.user.userprofile.role }}" readonly>
</div>

<button class="btn btn-primary">Update</button>

</form>

</div>

{% endblock %}