body{
background:#f5f7fb;
font-family: Arial, sans-serif;
}

.sidebar{
width:240px;
min-height:100vh;
background:#1f2d3d;
}

.sidebar a{
color:white;
text-decoration:none;
padding:12px;
display:block;
}

.sidebar a:hover{
background:#3c4b5e;
}

.dashboard-content{
flex:1;
padding:25px;
}

.card{
border:none;
border-radius:10px;
height: 100%;
}

.table th{
background:#2f3e4d;
color:white;
}


/* Home Page */

.container{
padding:40px;
text-align:center;
}

.home-btn{
padding:12px 25px;
background:#27ae60;
border:none;
color:white;
font-size:16px;
cursor:pointer;
}

.home-btn:hover{
background:#2ecc71;
}

/* Login & Register Box */

.form-box{
width:350px;
margin:100px auto;
padding:30px;
background:white;
box-shadow:0px 0px 10px gray;
border-radius:5px;
}

.form-box h2{
text-align:center;
margin-bottom:20px;
}

.form-box input{
width:100%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
border-radius:4px;
}

.form-btn{
width:100%;
padding:10px;
background:#2980b9;
border:none;
color:white;
font-size:16px;
cursor:pointer;
}

.form-btn:hover{
background:#3498db;
}

.center-text{
text-align:center;
margin-top:10px;
}

/* Side NavBar */
#wrapper {
    display: flex;
}

/* Sidebar default (desktop) */
#sidebar-wrapper {
    width: 250px;
    min-height: 100vh;
    background-color: #212529;
    transition: all 0.3s ease;
}

/* Page content */
#page-content-wrapper {
    flex: 1;
}

/* MOBILE BEHAVIOR */
@media (max-width: 768px) {

    #sidebar-wrapper {
        position: fixed;
        left: -250px;
        top: 0;
        height: 100%;
        z-index: 1000;
    }

    #wrapper.toggled #sidebar-wrapper {
        left: 0;
    }
}

select:disabled, input:disabled, textarea:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}